# place in /etc/systemd/system/
# and systemctl enable car
# check with systemctl status car
[Unit]
Description=Raspberry Pi Car Client
After=network.target

[Service]
# check path with `which python3`
ExecStart=/usr/bin/python3 -u car.py http://192.168.0.103:3000
WorkingDirectory=/home/pi/socket.io/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target